# Ignorar entornos virtuales
**/venv/
**/venv_39/
**/*.pyc
**/__pycache__/
**/.pytest_cache/
**/.ipynb_checkpoints/

# Ignorar logs y dumps
*.log
*.dmp
backups/
.tmp-docker-cli-*/

# Evitar subir librerías generadas automáticamente
**/node_modules/
**/site-packages/

# Ignorar archivos configurativos o credenciales locales
.DS_Store
*.env
**/.env.*
!**/.env.example
!**/.env.*.example
*.pem
*.key
id_rsa*
secrets.json
.*.swp
